#eduaction .nav-container {
  background-color: #ffe6e6;
  box-sizing: border-box;
  padding-top: 3rem;
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 20%; }
  #eduaction .nav-container ul {
    margin-right: 1rem;
    padding: 0;
    list-style-type: none;
    width: 100%;
    text-align: center; }
    #eduaction .nav-container ul img {
      display: inline;
      border: .3rem solid orange;
      border-radius: 20rem;
      width: 12rem; }
    #eduaction .nav-container ul li {
      background-color: #90D4A8;
      border: 0.1rem solid blue;
      border-radius: .4rem;
      text-align: center;
      display: inline-block;
      margin: 1rem 0 1rem 0;
      padding: .85rem 0 .85rem 0;
      width: 76%;
      font-size: 1.5rem;
      font-weight: bold;
      color: orange; }

#eduaction .page-content {
  background-color: #ffffe6;
  box-sizing: border-box;
  vertical-align: top;
  padding: 4.5rem 2rem 0 2rem;
  text-align: center;
  display: inline-block;
  width: 79%;
  height: 100%;
  border-left: .1rem solid grey; }
  #eduaction .page-content h1 {
    font-weight: bold;
    font-size: 2.7rem; }
  #eduaction .page-content img {
    display: inline;
    border: .3rem solid orange;
    border-radius: 20rem;
    width: 12rem; }
