body {
  margin: 0; }

html, body, #content, #index, .nav-container {
  height: 100%; }

#index .nav-container {
  border-right: .1rem solid grey;
  float: left;
  height: 100%; }
  #index .nav-container ul {
    list-style-type: none; }
    #index .nav-container ul li {
      color: orange; }

#index .page-content {
  float: right; }
  #index .page-content img {
    border-radius: 20rem;
    width: 40%; }
