#projects .project {
  text-align: left;
  margin-bottom: 5rem; }
  #projects .project .content-box {
    display: inline-grid; }
  #projects .project .img-wrapper {
    text-align: center; }
    #projects .project .img-wrapper img {
      width: 100%; }
