body {
	margin: 0;
}
html , body , #content , #index , .nav-container {
	height: 100%;
}
#content{
	width: 100%;
	display: table;
}
.nav-container img {
	display: inline-block;
	width: 7rem;
	border: .2rem solid orange;
	border-radius: 10rem;
}
