body { //background-color: rgba(222, 89, 58, 0.95);
	margin: 0;
	font-family: Karla, sans-serif;
}
html , body , #content , #index {
	height: 100%;
}
#content{
	width: 100%;
	//display: table;
}
#index {
	//display: table-row;
	.nav-home {
		padding-top: 6.8rem !important;
	}
	$break-point: 1000px;
	#min-externals {
		@media (max-width: $break-point) {
			background-color: $nav-background;
			text-align: center;
			//margin-top:  1.6rem;
			border-top: .12rem solid $brown-color;
			& > div {
				display: inline-block;
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				//width: 80%;
			}
			a{
				&:first-child{
					margin-right: 1.8rem;	
				}
				&:last-child{
					margin-left: 1.8rem;	
				}
				i{
					color: white;
					font-size: 2.5rem;
					transition: all 300ms ease-in-out;
					&:hover{
						transform: scale(1.3);
					}
				}
			}
		}
		@media (min-width: $break-point) {
			display: none;	
		}
	}
	.nav-container{
		ul {
			margin-bottom: 0 !important;
		}
		//min
		@media (max-width: $break-point) {
			display: block;
			width: 100%;
			overflow: auto;
			img{
				display: none;
			}
			ul{
				margin-top: -.2.8rem !important;
				display: none;
				a {
					//padding-left: 1% !important;
					padding: .7rem 0 .7rem 1% !important;
					font-size: 1.3rem !important; 
				}
				li:last-child {
					//padding-bottom: 1rem;
					margin-bottom:.5rem;
				}
				i {
					margin-right: 1rem !important;
					margin-left: .7rem;
				}
			}
			#external-links{
				display: none;
			}
			.min-content {
				color: white;
				padding-bottom: 0;
				overflow: auto;
				margin-bottom: 1rem;
				.copy{
					float: left;	
					margin-left: 5%;
					font-size: 1.6rem;
					.title{
						font-size: 1rem;
						margin-top: .3rem;
					}
					& > span{
						display: block;
					}
				}
				i{
					font-size: 2rem;
					float: right;
					margin-right: 6%;
					margin-top: .6rem;
				}
				.fa-times {
					display: none;
				}
			}
		}
		//expanded
		@media (min-width: $break-point) {
			img {
				display: inline-block;
				margin-top: 2rem;
				margin-bottom: 0;
			}
			.min-content {
				display: none;
			}
			height: 100%;
			float: left;
		}
		//border-right: .3rem solid green;
		//position: fixed;
		background-color: $nav-background;
		box-sizing: border-box;
		padding-top: 1.2rem;
		vertical-align: top;
		width: $nav-width;
		//display: table-cell;
		.home-link{
			text-align: center;
			display: block;
		}
		img {
			width: 7.2rem;
			border: .2rem solid white;
			border-radius: 10rem;
			margin-bottom: 1rem;
		}
		ul{

			margin-right: 1rem;
			padding: 0;
			list-style-type: none;
			width: 100%;
			text-align: center;
			li{ 
				//text-align: center;
				i {
					margin-right: 9%;
				}
				padding-left:  5%;
				padding-right:  5%;
				a{
					div{
						/*
						box-shadow: 0px -1px 0px #000, 0px 1px 0px #000;
						display: inline-block;
						width: 65%;
						*/
					}
					
					border-radius: .4rem;
					text-align: left;
					display: inline-block;
					//margin: 1rem 0 1rem 0;
					padding: 1rem 0 1rem 13%;
					font-size: 1.5rem; 
					font-weight: bold;
					color: white;	
					width: 100%;
					text-decoration: none;
			
				}
			}
			li:hover {
				background-color: rgba(124, 54, 2, .8);	
					a{
					}	
			}
			.active{
				//background-color: rgba(118, 112, 96, .51);
				background-color: #f9f9f9;
				&:hover{
					background-color: #f9f9f9;
				}
				a {
					color: black;
				}
			}
		}
	}
	.page-content {
		background-color: $page-background;
		box-sizing: border-box;
		vertical-align: top;
		padding: 0 .25rem 0 .25rem;
		text-align: center;
		//display: table-cell;
		height: 100%;
		overflow: auto;
		padding-bottom: 1.7rem;
		@media (max-width: $break-point) {
			border-top: .2rem solid rgba(124, 54, 2, 1); 
			width: 100%;
		}
		@media (min-width: $break-point){
			float: left;
			border-left: .2rem solid rgba(124, 54, 2, 1); 
			width: $content-width;
		}
		
		.content-box {
			padding-top: 2.3rem;
		}
	}
	.page-content:before {
		border-left:  3px solid grey;
	}
}

.section-heading{
	font-size: 2rem;
}
.sub-heading {
	font-size: 1.5rem;
	font-weight: bold;
}
.content-box:first-child{
	margin-top: 3rem;
}
.content-box{
	margin: 1.5rem 7% 1rem 7%;
	padding: 2rem;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.155);
	border-radius: .1rem;
}
.tag-wrapper{
	display: block;
}
.tag {
	background-color: #fff;
	display: table-cell;
	//box-shadow: 0 0 5px rgba(0,0,0,.155);
	background-color: #DE593A;
	color: white;
	border-radius: .45rem;
	margin-right: .5rem;
	padding: .15rem .3rem .13rem .3rem;
	font-size: .78rem;
	font-weight: none;
	text-align: center;
	display: inline-block;
}
#external-links {
	text-align: center;
	margin-top:  1.6rem;
	& > div {
		display: inline-block;
		border-top: .12rem solid $brown-color;
		padding-top: 1.9rem;
		width: 80%;
	}
	a{
		&:first-child{
			margin-right: 1.8rem;	
		}
		&:last-child{
			margin-left: 1.8rem;	
		}
		i{
			color: white;
			font-size: 2.5rem;
			transition: all 300ms ease-in-out;
			&:hover{
				transform: scale(1.3);
			}
		}
	}
}
@media (max-width: 600px) {
	.nav-container {
		display: block;
		width: 100%;
		float: none;
	}	
	.page-content {
		width: 100%;
		display: block;
		float: none;
	}
}

/*
.vertical-line:first-child {
	//padding-: .2rem;

}
.vertical-line {
	background-color: $brown-color;
	float: left;
	height: 100%;
	padding: 0 .11rem 0 .11rem;
	margin-right: .2rem;
}
	*/
	
