body {
	margin: 0;
}
html , body , #content , #index , .nav-container {
	height: 100%;
}
#content{
	width: 100%;
	display: table;
}
#index {
	display: table-row;
	.nav-container{
		background-color: $nav-background;
		box-sizing: border-box;
		padding-top: 3rem;
		vertical-align: top;
		width: $nav-width;
		display: table-cell;
		img {
			display: inline-block;
			width: 7rem;
			border: .2rem solid white;
			border-radius: 10rem;
		}
		ul{
			li:hover{
				background-color: rgba(124, 54, 2, .8);	
			}
			li:active{
				background-color: rgba(124, 54, 2, .8);	
			}
			margin-right: 1rem;
			padding: 0;
			list-style-type: none;
			width: 100%;
			text-align: center;
			a{
				text-decoration: none;
			}
			li a{
				//background-color: $nav-btn-background;
				//border: .1rem solid $nav-btn-border;
				border-radius: .4rem;
				text-align: center;
				display: inline-block;
				margin: 1rem 0 1rem 0;
				padding: .85rem 0 .85rem 0;
				width: 76%;
				font-size: 1.5rem; 
				font-weight: bold;
				color: white;	
		
			}
		}
	}
	.page-content {
		background-color: $page-background;
		box-sizing: border-box;
		vertical-align: top;
		padding: 0 2rem 0 2rem;
		text-align: center;
		display: table-cell;
		width: $content-width;
		border-left: .1rem solid grey;
	}
}

.section-heading{
	font-size: 2rem;
}
.sub-heading {
	font-size: 1.5rem;
	font-weight: bold;
}
.content-box{
	margin: 0 7% 2rem 7%;
	padding: 2rem;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.155);
	border-radius: .1rem;
}
