#education{
	padding-top: 3rem 6rem 0 6rem;
	background-image: url('/img/lib.jpg');
	background-size: 100% 100%;
	.section-heading{
		//font-size: 2rem;
	}
	span , p{
		//background-color: rgba(255, 255, 255, 0.8);
		border-radius: .2rem;
		//-webkit-box-shadow: 0 0 .9rem .8rem rgba(255, 255, 255, .8);
		//box-shadow: 0 0 .9rem .8rem rgba(255, 255, 255, .8);
		width: 60%;
		display: inline-block;
	}
	.content-box {
		border-radius: 0.3rem;
		background-color: rgba(255, 255, 255, 0.80);
		margin-top: 0.9rem;
		margin-left: 5%;
		margin-right: 5%;
		display: inline-block;
		padding-top: .9rem !important;
		p {
			width: 90%;	
		}
		.quote , .author {
			font-style: italic;
			margin-bottom: .7rem;
		 }
		.quote , .blurb{
	 		font-size: 1.2rem;	
 		}
	}
	#seal {
		width: 9.5rem;
	}		
	#content-wrapper{
		//background-color: rgba(165, 168, 107, 0.4);
		//border: .2rem solid grey;
	}
}
