#home{
	background-color: $page-background;
	box-sizing: border-box;
	vertical-align: top;
	padding: 4.5rem 2rem 0 2rem;
	text-align: center;
	display: table-cell;
	width: $content-width;
	//border-left: .1rem solid grey;
	h1{
		font-weight: bold;
		font-size: 2.7rem;
	}
	img {
		display: inline;
		border: .3rem solid #DE593A;
		border-radius: 20rem;
		width: 12rem;
	}
	.quote {
		font-style: italic;
	}
    .content-box {
        margin-top: 7rem;
    }
    @media (min-width: 1000px) {
        .content-box {
            margin-top: 6.1rem;
            
        }


    }
}
