$nav-background: #ffe6e6;
$page-background: #ffffe6;
$nav-btn-background: #90D4A8;
$nav-btn-border: blue;

$nav-width: 20;
$content-width: percentage((99-$nav-width)/100);
$nav-width: percentage(($nav-width)/100);

#index {
	display: table-row;
	.nav-container{
		background-color: $nav-background;
		box-sizing: border-box;
		padding-top: 3rem;
		vertical-align: top;
		width: 20%;
		display: table-cell;
		ul{
			margin-right: 1rem;
			padding: 0;
			list-style-type: none;
			width: 100%;
			text-align: center;
			a{
				text-decoration: none;
			}
			li a{
				background-color: $nav-btn-background;
				border: .1rem solid $nav-btn-border;
				border-radius: .4rem;
				text-align: center;
				display: inline-block;
				margin: 1rem 0 1rem 0;
				padding: .85rem 0 .85rem 0;
				width: 76%;
				font-size: 1.5rem; 
				font-weight: bold;
				color: orange;	
		
			}
		}
	}
	.page-content {
		background-color: $page-background;
		box-sizing: border-box;
		vertical-align: top;
		padding: 4.5rem 2rem 0 2rem;
		text-align: center;
		display: table-cell;
		width: $content-width;
		border-left: .1rem solid grey;
		h1{
			font-weight: bold;
			font-size: 2.7rem;
		}
		img {
			display: inline;
			border: .3rem solid orange;
			border-radius: 20rem;
			width: 12rem;
		}
	}
}

