body {
	margin: 0;
}
html , body , #content , #index , .nav-container {
	height: 100%;
}
#index {
	.nav-container{
		border-right: .1rem solid grey;
		float: left;
		height: 100%;
		ul{
			list-style-type: none ;
			li{
				color: orange;	
			}
		}
	}
	.page-content {
		img {
			border-radius: 20rem;
			width: 40%;
		}
		float: right;
	}
}

