#skills {
	.skill-type{
		text-align: center;
		display: inline-block;
		width: 50%;
		vertical-align: top;
		ul {
			list-style-type: none;
		}
		.skill-name {
			margin-right: 8rem;
		}
		h2:first-letter {
			text-transform: uppercase;
			
		}
		table{
			display:inline-table;
			width: 100%;
			tr {
				margin: 1rem;
			}
			td{
				width: 50%;
				padding: .5rem 0 .5rem;
			}
			.skill-name{
				font-weight: bold;
				text-align: left;
				padding-left: 3rem;
			}
			.skill-score {
				i {
					color: rgba(222, 89, 58, 0.92);
					margin-left: .5rem;
					font-size: 1.1rem;
				}
				&:hover{
					i {
						transform: scale(1.46);
					}	
				}
			}
		}
	}
}
