$nav-background: rgba(222, 89, 58, 0.95); 
$page-background: #f9f9f9;

$brown-color: rgba(124, 54, 2, 0.8);

$nav-btn-background: #90D4A8;
$nav-btn-border: blue;

$nav-width: 25;
$content-width: percentage((100-$nav-width)/100);
$nav-width: percentage(($nav-width)/100);
